<table class="table table-info">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Tarea</th>
            <th scope="col">Usuario</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tarea in tareas">
            <tb-listado-tareas></tb-listado-tareas>
            <td>
                <button type="button" class="btn btn-sm btn-success pull-left" ng-click="markCompleted(item)">
                    <span class="glyphicon" ng-class="item.completed ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                </button>
            </td>
            <td ng-class="{strike:item.completed}" style="font-weight: bold">
                {{tarea.descripcion|uppercase}}
            </td>
            <td ng-class="{strike:item.completed}" style="font-weight: bold">
                {{tarea.usuario|uppercase}}
            </td>
            <td>      
                <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="removeItem(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <a href="#/addItem/edit/{{item.id}}" class="btn btn-sm btn-default pull-right" style="margin-right:10px;">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
    </tbody>
    
</table>


